<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlockWeb</title>
        <script src="/static/BlockWeb.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/BlockWeb.css">
    </head>
    <body>
        <div class="homepage">
            <div class="search-container">
                <img src="/static/BlockWeb.png" class="banner" alt="The default logo of BlockWeb">
                <form>
                    <input type="text" placeholder="Search for a project ID" id="search">
                    <button type=button onClick="button_submit()" id="button">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
